.headStyles{
    border: none;
    box-shadow: 5px 5px 5px 5px  whitesmoke;
}

#name{
    font-size: 30px;
    font-weight: 700;
    margin-right: 20px;
}

.menue{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin-left: 10px;
}

.menue:hover{
    color: lightseagreen;
}


